<div style="padding: 10px ; padding-top:  24px; margin-bottom: 20px; box-shadow: 0 0 10px rgb(0 0 0 / 10%); -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);">
<div>
<span style="font-size: 1.8em; font-weight: 700; padding-left: 20px;">Compre <a href="https://t.gadgetadvisers.com/click">Kailo</a> aqui</span>
</div>
<div style="padding: 20px; display:inline-flex;">
<div style="display: flex; padding-right: 40px;">
   <img src="/kailo/kailo-300.jpg" width="160px; height: auto;">
</div>
<div>
   <div>✔️ Loja de confiança</div>
   <div>✔️ Garantia de 90 dias de devolução do dinheiro</div>
   <div>✔️ Garantia do melhor preço</div>
   <div>✔️ Disponível hoje</div>
   <div>✔️ 14 dias de prazo médio de entrega</div>
   <div>✔️ Sua compra é segura e protegida</div>
</div>
</div>
<a href="{{.Get "link" }}" style="color: white;">
   <div style="text-align:center;background-color:#25ae4e;margin-bottom:20px;margin-top:20px;width: 100%;-webkit-border-radius: 5px;">
      <div style="color: white; padding: 10px;font-size: 26px;">
      👉 {{.Get "text" }}
      </div>
   </div>
</a>
<div style="">
   <center>
   <img src="/trust/badges.jpg" width="300px; height: auto;">
   </center>
</div>
</div>