<div class="product-container">
        <div class="imgBx">
            <img src="/kailo/kailo-300.jpg">
        </div>
        <div class="details">
            <div class="content">
                <h2>Kailo Emplastro<br><span>Produto Inovador</span></h2>
                    <div>✔️ Fabricado nos Estados Unidos</div>
                    <div>✔️ Garantia de satisfação de 90 dias ou seu dinheiro de volta</div>
                    <div>✔️ Garantia do melhor preço</div>
                    <div>✔️ Disponível hoje</div>
                    <div>✔️ Prazo médio de entrega de 14 dias</div>
                    <div>✔️ Compra segura e protegida</div>
                <a href="https://t.gadgetadvisers.com/click"><button>👉 COMPRAR AGORA</button></a>
                <div style="padding-top: 20px;">
                  <center>
                     <img src="/trust/badges.jpg" width="300px; height: auto;">
                  </center>
               </div>
            </div>
        </div>
    </div>