<div class="product-container">
        <div class="imgBx">
            <img src="/theraice/theraice-300.jpg">
        </div>
        <div class="details">
            <div class="content">
                <h2>TheraICE Rx<br><span>Headache Relief Cap</span></h2>
                        <div>📦 Shipped from the USA</div>
                        <div>🌱 All-natural & 100% Safe</div>
                        <div>📺 Featured on Fox, NBC, CBS, USA Today</div>
                        <div>💯 Over 40,000 sold and counting</div>
                        <div>👍 Very comfortable and easy-to-use</div>
                        <div>💎 30 Day Money Back Guarantee</div>
                <a href="https://t.gadgetadvisers.com/click"><button>👉 BUY HERE</button></a>
                <div style="padding-top: 20px;">
                  <center>
                     <img src="/trust/badges.jpg" width="300px; height: auto;">
                  </center>
               </div>
            </div>
        </div>
    </div>