<style>
    body {
        font-family: sans-serif, Arial;
    }

    .review-card {
        max-width: 700px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .review-header {
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .stars {
        color: #f5a623;
        font-size: 24px;
    }

    .stars-s {
        color: #f5a623;
        font-size: 18px;
    }

    .review-body {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 10px;
        margin-top: 8px;
    }

    .body-of-card {
        margin: auto;
        width: 90%;
    }

    .review-footer {
        margin-top: 15px;
        text-align: right;
        font-style: italic;
    }

    .reviewer {
        display: flex;
        align-items: center;
        line-height: 8px;
        margin-top: 10px;
    }

    .reviewer img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 8px;
    }

    .reviewer-name {
        font-weight: bold;
    }
</style>

<div class="review-card">
    <!-- Rest of your shortcode HTML -->


{{ $reviewsData := index .Site.Data.reviews.reviews 0 }}

    <div class="review-header">
        <h2>{{ $reviewsData.title }}</h2>
        <div>
            <strong style="font-size: large;">{{ $reviewsData.averageRating }}</strong>
            <span class="stars">{{ $reviewsData.stars }}</span>
        </div>
        <div style="font-size: small;">Based on {{ $reviewsData.reviewCount }} reviews</div>
    </div>

    {{ range $reviewsData.reviewDetails }}
    <div class="review-body">
        <div class="body-of-card">
            <div class="reviewer">
                <img src="{{ .imageSrc }}" alt="Reviewer profile picture">
                <div>
                    <div class="reviewer-name">{{ .reviewerName }}</div><br>
                    <div><span class="stars-s">{{ .reviewerStars }}</span></div>
                </div>
            </div>
            <div>
                <p>{{ .reviewText }}</p>
            </div>
        </div>
    </div>
    {{ end }}
</div>
