<!-- layouts/shortcodes/special-offer.html -->

<div class="offer-box">
    <div class="offer-header">
     <h2 class="offer-header"> WICHTIGES UPDATE </h2>
    </div>
    <div class="offer-content">
      <h2>🎁 Schalten Sie die Freude der Saison frei: Exklusives Urlaubsangebot von LifeVac! 🎁</h2>
      <p>Beeindruckend! In Erwartung der bevorstehenden Herbst- und Winterferien freut sich LifeVac, eine besondere Aktion präsentieren zu können, die das <strong>erschenken </strong> von LifeVac <b>noch angenehmer macht.</b></p>
      <!-- <p>A lot of you have asked where to get one at the best price. Naturally, I recommend their official website – and I suggest you act quickly, too</p> -->
      <p class="special-deal">
        LifeVac bietet derzeit ein <strong>Sonderangebot</strong> an: Wenn Sie den untenstehenden Link verwenden, erhalten Sie <strong>1 GRATIS LifeVac Home Kit</strong>, wenn Sie 2 kaufen!
    </p>
    
    <p>Holen Sie sich Extras, damit Sie sie im Auto, im Büro und zu Hause haben können – das ist das beste Angebot, das ich je von ihnen gesehen habe. Verpassen Sie es nicht!</p>
</div>
  </div>
  <style>
    .offer-box {
      border: 1px solid #cccccc;
      border-radius: 5px;
      padding: 20px;
      background-color: #fffbef;
      max-width: 800px;
      margin: 2px auto;
      font-family: Arial, sans-serif;
    }
    .offer-header {
      background-color: #edce74;
      color: black;
      padding: 10px;
      border-radius: 5px 5px 0 0;
      text-align: center;
      margin-bottom: 20px;
    }
    .offer-content h2 {
      color: #333333;
      font-size: 18px;
    }
    .offer-content p {
      color: #333333;
      font-size: 16px;
      line-height: 1.6;
    }
    .special-deal strong {
      color: #28a745;
      font-weight: bold;
    }
  </style>
  